<link href="./../../../stylesheets/simple-sidebar.css" rel="stylesheet">
<link href="./../../../stylesheets/queryBuilder/queryBuilder.css" rel="stylesheet">




<div id="wrapper" ng-controller="liveQueryController">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav nav-pills nav-stacked" id="stacked-menu">
              <span class="sidebar-secondLink"><li><a href="#GitLogStatistics">
                <li class="sidebar-brand fa fa-th">  Plot wizard</li></a></li></span>
                <li class="sidebar-brand fa fa-th"> Widget wizard</li>
                <li>
                    <!-- home item in menu started-->

                    <a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#dimensions" >
                        <i class="fa fa-circle-o"></i> NameSpace
                    </a>
                    <ul class="nav nav-pills nav-stacked collapse out" id="dimensions" style="list-style-type:square">
                        <!-- submenu started-->

                        <li ng-repeat="dim in nameSpaceList" class="list-group-item list-group-item-info namespaceliststyle" data-toggle="collapse" ng-click="getDimensionAndMeasure(dim._id)" id="{{dim._id}}"    >{{dim.name}}</li>
                    </ul>


                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- start #liveQueryWizardForm -->
    <br>
        <h1> <center>Query on the Go!</center></h1>



          <div class="container salert alert-info">
              <strong>Json Output</strong><br>
              <span ng-bind-html="output2"> </span>
              <br>

              <p ng-bind-html="trustedHtml"> </p>
          </div>



          <div class="alert alert-warning alert-group">
          <div class="form-inline">

              <label>&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;</label><input style="margin-left: 5px" type="text" ng-model="select1" class="form-control input-sm" size="60"/>

              <label>&nbsp;&nbsp;Stream From &nbsp;&nbsp;&nbsp;</label><input style="margin-left: 5px" type="text" ng-model="stream" class="form-control input-sm" s/>


              <label>&nbsp;&nbsp;Stream To &nbsp;&nbsp;&nbsp;</label><input style="margin-left: 5px" type="text" ng-model="streamB" class="form-control input-sm" s/>

              <br>
              <br>

              <p> &nbsp;&nbsp; WHERE </p>
              <label> Aggregate fn &nbsp;&nbsp;&nbsp; </label>  <select ng-model="selectedAggFn1" ng-options="item for item in aggfn"  class="form-control input-sm"></select>


          <label>&nbsp;&nbsp;Measures&nbsp;&nbsp;&nbsp;</label><input style="margin-left: 5px" type="text" ng-model="measure1" class="form-control input-sm"/>

              <label> &nbsp;&nbsp;Accumulator fn&nbsp;&nbsp;&nbsp;</label>

              <select ng-model="selectedAccumFn1" ng-options="item for item in accumfn"  class="form-control input-sm"></select>


              <label>&nbsp;&nbsp;Value&nbsp;&nbsp;&nbsp;</label>  <input style="margin-left: 5px" type="text" ng-model="value1" class="form-control input-sm"/>

              <br>
              <br>
              <div id="operator">
              <label> Operator&nbsp;&nbsp;&nbsp;</label>
              <select ng-model="selectedOperators" ng-options="item for item in operators"  class="form-control input-sm"></select>
                  </div>
              <br>
              <br>

              <label> Aggregate fn &nbsp;&nbsp;&nbsp; </label>  <select ng-model="selectedAggFn2" ng-options="item for item in aggfn"  class="form-control input-sm"></select>

              <label>&nbsp;&nbsp;Measures&nbsp;&nbsp;&nbsp;</label><input style="margin-left: 5px" type="text" ng-model="measure2" class="form-control input-sm"/>

              <label> &nbsp;&nbsp;Accumulator fn&nbsp;&nbsp;&nbsp;</label>

              <select ng-model="selectedAccumFn2" ng-options="item for item in accumfn"  class="form-control input-sm"></select>

              <label>&nbsp;&nbsp;Value&nbsp;&nbsp;&nbsp;</label>  <input style="margin-left: 5px" type="text" ng-model="value2" class="form-control input-sm"/>

                <br>
              <br>
              <br>
              <button style="margin-left: 5px" ng-click="submitQuery()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-tick-sign"></span>Submit Query</button>

              <button style="margin-left: 5px" ng-click="computeJson()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-tick-sign"></span>Compute Json</button>


          </div>
              </div>

          <query-builder group="filter.group"></query-builder>

      </div>

</div>
<!-- /#page-content-wrapper -->
