<div class="alert alert-success" ng-show="pass">
  <a href="#" class="close" ng-click="pass=false" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong>{{passMessage}}
</div>
<form class="form-horizontal" ng-init="getServiceConfig('gittab')" id="serviceTable">
  <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">Git Logs database configuration details.</div>
    <table class='table borderless'>
      <tr>
        <td>
        Database Host:
        </td>
        <td>
          {{gitInfo.dbDetails.host}}
        </td>
      </tr>
      <tr>
        <td>
        Database Port:
        </td>
        <td>
            {{gitInfo.dbDetails.port}}
          </td>
        </tr>
        <tr>
          <td>
            Database Name:
          </td>
          <td>
            {{gitInfo.dbDetails.dbName}}
          </td>
        </tr>
      </table>
      <a type="submit" href="#serviceConfig/gittabdbedit" class="btn btn-primary">Edit</a>
  </div>
</div>
  <div class="row">
  <h2 style="padding-left: 6px;margin-bottom: 3px;">
    <small>
      Git configuration details.
        <a type="submit" href="#serviceConfig/gittabedit" ng-click="reset()" class="btn btn-link">Add new Account</a>
    </small>
  </h2>
  <hr>
  <div class="panel panel-primary">
  <span ng-repeat="gitRepodata in gitInfo.repositoryData">
    <div class="form-group">
      <div class="col-sm-6">
      <table class='table borderless'>
        <tr>
          <td>
          Git Account:
          </td>
          <td>
          {{gitRepodata.gitAccountname}}
          </td>
        </tr>
        <tr>
          <td>
          Git Repositories:
          </td>
            <td>
              <span ng-repeat="repo in gitRepodata.repos">
                {{repo.repo}}
              </span>
            </td>
          </tr>
        </table>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a type="submit" href="#serviceConfig/gittabedit" ng-click="applyUserName(gitRepodata.gitAccountname,true)" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </span>
</div>
</div>
  <div class="col-sm-6">
  <table class='table borderless'>
  <tr>
    <td>
      Git Host:
    </td>
    <td>
        {{gitInfo.gitHost}}
    </td>
  </tr>
  <tr>
    <td>
      Enter Five Git Auth Codes:
    </td>
    <td>
        {{gitInfo.gitauthSets[0].gitOauth}},
        {{gitInfo.gitauthSets[1].gitOauth}},
        {{gitInfo.gitauthSets[2].gitOauth}},
        {{gitInfo.gitauthSets[3].gitOauth}},
        {{gitInfo.gitauthSets[4].gitOauth}}
    </td>
  </tr>
    </table>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a type="submit" href="#serviceConfig/gittabAuthOedit" class="btn btn-primary">Edit</a>
      </div>
    </div>
</form>
