<br>
<div class="alert alert-success" ng-show="pass">
  <a href="#" class="close" ng-click="pass=false" data-dismiss="alert" aria-label="close">&times;</a>
  {{passMessage}}
</div>
<form class="form-horizontal" ng-init="getServiceConfig('gittab')" id="serviceTable">
  <div class="row">
  <div class="panel panel-info">
    <div class="panel-heading clearfix">Git Logs database configuration details.<a type="submit" href="#serviceConfig/gittabdbedit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-edit"></i>Edit</a></div>
<div class="panel-body">
    <table class='table borderless'>
      <tr>
        <td class="text-left col-sm-1">
        Database Host:
        </td>
        <td class="text-left col-sm-8">
          {{gitInfo.dbDetails.host}}
        </td>
      </tr>
      <tr>
        <td class="text-left col-sm-1">
        Database Port:
        </td>
        <td class="text-left col-sm-8">
            {{gitInfo.dbDetails.port}}
          </td>
        </tr>
        <tr>
          <td class="text-left col-sm-1">
            Database Name:
          </td>
          <td class="text-left col-sm-8">
            {{gitInfo.dbDetails.dbName}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
  <div class="row">
  <div class="panel panel-info">
    <div class="panel-heading clearfix">  Git configuration details.
      <a type="submit" href="#serviceConfig/gittabAuthOedit" class="btn btn-primary pull-right">
        <i class="glyphicon glyphicon-edit"></i>Edit</a>
    </div>
    <div class="panel-body">
  <table class='table borderless'>
  <tr>
    <td class="text-left col-sm-1">
      Git Host:
    </td>
    <td class="text-left col-sm-8">
        {{gitInfo.gitHost}}
    </td>
  </tr>
  <tr>
    <td class="text-left col-sm-1">
      Git Auth O Codes:
    </td>
    <td class="text-left col-sm-8">
        {{gitInfo.gitauthSets[0].gitOauth}},
        {{gitInfo.gitauthSets[1].gitOauth}},
        {{gitInfo.gitauthSets[2].gitOauth}},
        {{gitInfo.gitauthSets[3].gitOauth}},
        {{gitInfo.gitauthSets[4].gitOauth}}
    </td>
  </tr>
    </table>
  </div>
</div>
</div>
<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading clearfix">Git Account configuration details.
      <a type="submit" href="#serviceConfig/gittabedit" ng-click="reset()" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i>Add new Account</a>
    </div>
  <div class="panel-body" ng-show="gitInfo.repositoryData.length">
  <span ng-repeat="gitRepodata in gitInfo.repositoryData">
    <div class="panel panel-primary">
      <div class="panel-body">
      <table class='table borderless'>
        <tr>
          <td class="text-left col-sm-2">
          Git Account:
          </td>
          <td class="text-left col-sm-8">
          {{gitRepodata.gitAccountname}}
          </td>
        </tr>
        <tr>
          <td class="text-left col-sm-2">
          Git Repositories:
          </td>
            <td class="text-left col-sm-8">
              <span ng-repeat="repo in gitRepodata.repos">
                {{repo.repo}},
              </span>
            </td>
          </tr>
        </table>
      <div>
        <a type="submit" href="#serviceConfig/gittabedit" ng-click="applyUserName(gitRepodata.gitAccountname,true)" class="btn btn-primary">Edit</a>
        <a type="submit" ng-click="deleteRepo(gitRepodata.gitAccountname)" class="btn btn-primary">Delete</a>
      </div>
      </div>
    </div>
  </span>
</div>
</div>
</div>
</form>
