<div class="container" style="margin-top:50px;" id="serviceTab">
  <h1>
    <small>Configure below available services.</small>
  </h1>
  <div class="tabbable">
    <ul class="nav nav-tabs" >
      <li ng-repeat="tabs in serviceTabs" ng-class="{active:(activeTab==='{{tabs | showLinks}}')}">
        <a ng-click="setActiveClass(tabs)" ui-sref=".{{tabs | showLinks}}" >{{tabs}}</a>
      </li>
    </ul>
    <div class="container">
      <div ui-view>
      </div>
    </div> <!-- end tab-pane -->
  </div> <!-- end main-tab -->
</div> <!-- end container-fluid -->
