  <link href="./../../../stylesheets/simple-sidebar.css" rel="stylesheet">

  <div id="wrapper" class="toggled" ng-controller="myController">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">

        <ul class="sidebar-nav nav nav-pills nav-stacked" id="stacked-menu">
          <li class="sidebar-brand"> Plot Widgets </li>
          <li> <!-- home item in menu started-->
             <a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p1">
                Multi Dimentional Graph
             </a>
             <ul class="nav nav-pills nav-stacked collapse out leftPad" id="p1"><!-- submenu started-->
               <li class="active" data-toggle="collapse" data-parent="#p1" href="#pv1" data-json="json_param1" data-ng-click="plot_graph($event)">
                  Type1
               </li>
               <li data-toggle="collapse" data-parent="#p1" href="#pv2" data-json="json_param2"  data-ng-click="plot_graph($event)">
                  Button 2
               </li>
               <li data-toggle="collapse" data-parent="#p1" href="#pv3" data-json="json_param3" data-ng-click="plot_graph($event)">
                  Button 3
               </li>
               <li data-toggle="collapse" data-parent="#p1" href="#pv4" data-json="json_param4" data-ng-click="plot_graph($event)">
                  Button 4
               </li>
               <li data-toggle="collapse" data-parent="#p1" href="#pv5" data-json="json_param5" data-ng-click="plot_graph($event)">
                  Button 5
               </li>
               <li data-toggle="collapse" data-parent="#p1" href="#pv6" data-json="json_param6" data-ng-click="plot_graph($event)">
                  Button 6
               </li>
            </ul>
           </li>
           <li> <!-- home item in menu started-->
              <a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p2">
                 Single Dimentional Graph
              </a>
           <ul class="nav nav-pills nav-stacked collapse out leftPad" id="p2"><!-- submenu started-->
             <li class="active" data-toggle="collapse" data-parent="#p2" href="#pv11" data-json="json_param7" data-ng-click="plot_graph($event)">
                Button 1
             </li>
             <li data-toggle="collapse" data-parent="#p2" href="#pv22" data-json="json_param8" data-ng-click="plot_graph($event)">
                Button 2
             </li>
             <li data-toggle="collapse" data-parent="#p2" href="#pv33" data-json="json_param9"  data-ng-click="plot_graph($event)">
                Button 3
             </li>
             <li data-toggle="collapse" data-parent="#p2" href="#pv44" data-json="json_param10"  data-ng-click="plot_graph($event)">
                Button 4
             </li>
             <li data-toggle="collapse" data-parent="#p2" href="#pv55" data-json="json_param11"  data-ng-click="plot_graph($event)">
                Button 5
             </li>
             <li data-toggle="collapse" data-parent="#p2" href="#pv66" data-json="json_param712" data-yparam="insertion" data-xparam="time" data-type="top 10" data-ng-click="plot_graph($event)">
                Button 6
             </li>
          </ul>
        </li>
          </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 simply">
                <div class="col-6">
                      <a id="menu-toggle"><i id = "iMenu" class="fa fa-chevron-right" style="font-size:34px;"></i></a>
                </div>
                </div>
                <div>

                  <div class="col-sm-11  pull-right">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="tabbable">
                              <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-bar-chart"></i><span style="color:#000"> Bar Chart</span></a></li>
                                <li><a href="#tab2" data-toggle="tab"><i class="fa fa-pie-chart"></i><span style="color:#000"> Pie chart</span></a></li>
                              </ul>
                            </div><!--end of tabbable section-->
                            <div class="tab-content">
                              <div class="tab-pane active" id="tab1">
                                  <div id="graph"> </div>
                              </div><!--end of tab pane-->
                              <div class="tab-pane" id="tab2">
                                  <div id="graph1"> </div>
                              </div><!--end of tab pane-->
                          </div><!--end of tab content-->
                        </div>
                        </div>
                      </div>
                    </div>
                    <section>
                      <div class="modal" id="my_modal1" visible=true>
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button class="close" data-dismiss="modal">&times;</button>
                              <h2>Select the option</h2>
                          </div><!--end of modal content-->
                          <div class="modal-body">
                            <form class="form-horizontal">
                              <div class="form-group" id="box1">
                                <label class="col-lg-2 control-label" for="inputMessage">Select Month</label>
                                <div class="col-lg-10">
                                  <select multiple ng-model="value5">
                                      <option value={{value5}} ng-repeat="value5 in fetchedMonthDataDisplay">{{value5}}</option>
                                  </select>
                                  <button ng-click="add_month()">Add Month</button>
                                  <select multiple ng-model="value6">
                                      <option value={{value6}} ng-repeat="value6 in selectedMonthDataDisplay">{{value6}}</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group" id="box2">
                                <label class="col-lg-2 control-label" for="inputMessage">Select Year</label>
                                <div class="col-lg-10">
                                  <select multiple ng-model="value7">
                                      <option value={{value7}} ng-repeat="value7 in fetchedYearDataDisplay">{{value7}}</option>
                                  </select>
                                  <button ng-click="add_year()">Add Year</button>
                                  <select multiple ng-model="value8">
                                      <option value={{value8}} ng-repeat="value8 in selectedYearDataDisplay">{{value8}}</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group" id="box3">
                                <label class="col-lg-2 control-label" for="inputMessage">Select Repo</label>
                                <div class="col-lg-10">
                                  <select multiple ng-model="value">
                                      <option value={{value}} ng-repeat="value in fetchedRepoDataDisplay">{{value}}</option>
                                  </select>
                                  <button ng-click="add_repo()">Add Repo</button>
                                  <select multiple ng-model="value1">
                                      <option value={{value1}} ng-repeat="value1 in selectedRepoDataDisplay">{{value1}}</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group" id="box4">
                                <label class="col-lg-2 control-label" for="inputMessage">Select Users</label>
                                <div class="col-lg-10">
                                  <select multiple ng-model="value2">
                                      <option value={{value2}} ng-repeat="value2 in fetchedUserDataDisplay">{{value2}}</option>
                                  </select>
                                  <button ng-click="add_user()">Add User</button>
                                  <select multiple ng-model="value3">
                                      <option value={{value3}} ng-repeat="value3 in selectedUserDataDisplay">{{value3}}</option>
                                  </select>
                                </div>
                              </div>
                            </form><!--end of the form-->
                          </div><!--end of modal body-->
                          <div class="modal-footer">
                            <button class="buttom_css" ng-click="plotthedata()">Submit</button>
                          </div><!--end of modal footer-->
                        </div><!--end of modal dialog-->
                      </div><!--end of modal content-->
                      </div><!--Modal window ends here-->
                    </section><!--modal window ends here-->

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if($("#iMenu").hasClass("fa-chevron-right")){
        $("#iMenu").removeClass("fa-chevron-right");
        $("#iMenu").addClass("fa-chevron-left");
      }
      else{
        $("#iMenu").removeClass("fa-chevron-left");
        $("#iMenu").addClass("fa-chevron-right");
      }
    });
    </script>
